# LangGraph & Checkpointers
langgraph
langgraph-checkpoint-sqlite

# LangChain Ecosystem
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

# Web Interface & Environment
streamlit
python-dotenv
pydantic

# RAG, Embeddings & Document Processing
faiss-cpu
sentence-transformers
torchvision
pypdf